<%- include('../partials/header'); -%>

<section style="margin-top: 5%" class="section-sm">
    
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Welcome ! </h1>
              <p class="lead">Choose your respective panel</p>
              <br>  <br>
              <div class="row">
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Student Panel</h5>
                      <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                      <a href="/student" class="btn btn-primary">Go</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Teacher Panel</h5>
                      <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                      <a href="/teacher" class="btn btn-primary">Go</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

    </div>

</section>

<%- include('../partials/footer'); -%>