

<%- include('../partials/header'); -%>

<section class="section-sm" style="height: 700px ;"> 
    <div class="container" style="padding: 10%;">
        <h3>Forgot Password</h3>
      
        <form action="/student/resetpassword" method="post">
            <label for="email">Enter your email</label>
            <br>
            <input class="form-control" type="email" name="email" id="email" required> <br> <br>
            <button class="btn btn-success" type="submit">Submit</button>
        </form>
    </div>
</section>

<%- include('../partials/footer'); -%>
