

<%- include('../partials/header'); -%>

<section class="section-sm" style="height: 700px ;"> 
    <div class="container" style="padding: 10%;">
        <h3>Enter new Password</h3>
      
        <form action="/teacher/resetpassword/<%=email%>" method="post">
            <label for="pass">Enter your new password</label>
            <br>
            <input class="form-control" type="password" name="pass" id="pass" required> <br> <br>
            <button class="btn btn-success" type="submit">Submit</button>
        </form>
    </div>
</section>

<%- include('../partials/footer'); -%>
